<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan a trip!</title>
</head>
<body>
<form action="{% url 'redirect2result' %}" method="get">
{#    {% csrf_token %}#}
    <select name="planning_mode">
        {% for mode in modes %}
        <option value="{{ mode.value }}">{{ mode }}</option>
        {% endfor %}
    </select>
    <select name="start_station">
        {% for station in stations %}
        <option value="{{ station.name }}">{{ station.name }}</option>
        {% endfor %}
    </select>
    <select name="destination_station">
        {% for station in stations %}
        <option value="{{ station.name }}">{{ station.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Plan!">
</form>
</body>
</html>