{% load static %}
<!doctype html>
<html lang="en">
<head>
    <script src="{% static 'tripplanner/js/jquery-3.4.1.min.js' %}"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'tripplanner/css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'tripplanner/css/mycss.css' %}"  media="screen,projection"/>

    <meta charset="UTF-8">
    <!--Let browser know websit is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Plan a trip!</title>
</head>
<body>
<nav>
    <div class="nav-wrapper teal darken-4">
        <a href="/" class="brand-logo center">
            <i class="large material-icons">directions_bus</i>
            <i class="large material-icons">directions_railway</i>
            Plan a trip!
        </a>
    </div>
</nav>
<div class="container">
    {% block html_content %}{% endblock %}
</div>
<script type="text/javascript" src="{% static 'tripplanner/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tripplanner/js/planning.js' %}"></script>
{% block js_import %}{% endblock %}
<script type="text/javascript">
    {% block js_script %}{% endblock %}
</script>
</body>
</html>